.collageContainer {
  display: flex;
  flex-direction: column; /* Mobile-first: stack columns */
  max-width: 1200px;
  margin: 4rem auto;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--foreground);
}

.mainHeader {
  font-size: var(--header);
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--primary);
}